@model Lawyers.com.Models.client
@{ViewBag.Title = "Register"; }
@Html.Raw(TempData["InsertMsg"])
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div style="width: 40%; height: auto; margin: 2% 30%; background-color: #c18e3c;border-radius:20px;">

    <h2 style="padding:20px 22%;color:#ffffff">CLIENT REGISTER</h2>

    <div style="margin-left:80px;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.First_Name, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br /><br />
                <div class="col-md-10">
                    @Html.EditorFor(model => model.First_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.First_Name, "", new { @class = "text-white" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Last_Name, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br /><br />
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Last_Name, "", new { @class = "text-white" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br />
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-white" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br />
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-white" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Addess, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br />
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Addess, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Addess, "", new { @class = "text-white" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br />
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-white" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br />
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-white" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input Style="border-radius:50px;margin:20px;width:150px" type="submit" value="Register" class="btn btn-default" />
                </div>
            </div>
        </div>
        }

    </div>

    <div  style="margin-left:170px;">
        @Html.ActionLink("Already Register to login", "login")
    </div>
</div>
