@model Lawyers.com.Models.lawyer

@{
    ViewBag.Title = "login";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div style="width: 350px; height: 400px; margin: 5% 35%; background-color: #c18e3c;border-radius:20px;">

    <h2 style="padding:20px 14%;color:#ffffff">LAWYERS LOGIN</h2>

    <div style="margin-top:1%;margin-left:15%;font-size:16px;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br />
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br />
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input Style="border-radius:50px;margin:15px;width:100px" type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div style="margin-left:80px;">
        @Html.ActionLink("Not Register yet click here?", "Register")
    </div>

</div>